<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta property="og:title" content="<{$langArr.share_title}>" />
    <title>WaZa</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script type="text/javascript" src="/js/hide.js"></script>
</head>
<body>
    <div class="video">
        <div class="top-logo" id="logo">
            <a href="/360/u/check_code/<{$lang}>"><img src="/images/little_logo.png"></a>
        </div>
        <p class="text"><{$langArr.video_content}></p>
        <video src="<{$video.video|escape}>" controls="controls"></video>
        <div id="share" class="share clearfix">
            <div class="pull-left">
                <span class="icon"><img src="/images/icon_share.png"></span>
                <span class="text"><{$langArr.share}></span>
                <a href="javascript:;" class="line_share"><img src="/images/line.png"></a>
                <a href="javascript:;" class="twitter_share"><img src="/images/twitter.png"></a>
                <a href="javascript:;" class="facebook_share"><img src="/images/facebook.png"></a>
            </div>
            <div class="pull-right">
                <a href="<{$video.video|escape}>" download="<{$video.video|escape}>"><img src="/images/icon_dawnload.png"></a>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="/js/jquery-3.1.0.min.js"></script>
<script>
    $(function () {
        try {
            // android
            window.WebToJs.test("video", GetUrlRelativePath(), getTitle());
        } catch(e) {
            console.log(e);
        }
        try {
            //ios
            window.webkit.messageHandlers.showBtLayout.postMessage(['video', GetUrlRelativePath(), getTitle()]);
        } catch(e) {
            console.log(e);
        }
        
        function GetUrlRelativePath() {
            var url = document.location.toString();
    　　　　    var arrUrl = url.split("//");
            var relUrl = arrUrl[0] + "//" + document.domain + "<{$video.video|escape}>";
    　　　　    return relUrl;
    　　}

        function getTitle(){
            var title = '<{$langArr.share_title}>';
            return title;
        }

        $(".twitter_share").click(function(){
            var twUrl = GetUrlRelativePath();
            var twTitle = '<{$langArr.share_title}>';
            window.open('http://twitter.com/home/?status='.concat(encodeURIComponent(twTitle)).concat(' ').concat(encodeURIComponent(twUrl)));
        });
        $(".facebook_share").click(function(){
            var fsUrl = GetUrlRelativePath();
            var fbTitle = '<{$langArr.share_title}>';
            window.open('https://www.facebook.com/sharer.php?u='.concat(fsUrl).concat('&t=').concat(fbTitle));
        });
        $(".line_share").click(function(){
            var lsUrl = GetUrlRelativePath();
            var lsTitle = '<{$langArr.share_title}>';
            window.open('http://line.naver.jp/R/msg/text/?'.concat(lsTitle).concat('%0D%0A').concat(lsUrl));
        });
    });
</script>
</html>